.spots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spots li {
    position: relative;
}

.imageCard {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .1);
    font-size: 32px;
}

.imageCard img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.imageCard i {
    position: absolute;
    top: 33%;
    left: 45%;
}

.spots li {
    margin: 20px;
}

.spots li:hover {
    cursor: pointer;
}

.location {
    font-weight: 500;
}

.price {
    font-weight: 500;
}

.rating {
    position: absolute;
    right: 10px;
}

.details {
    width: 800px;
    margin: auto;
}

.images {
    height: 400px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
    z-index: -1;
}

.previewImage {
    height: 400px;
    background-color: grey;
    width: 100%;
    border-radius: 10px;
}

.otherImages {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
    grid-template-rows: 48% 48%;
    row-gap: 4%;
}

.otherImages img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.details button:hover {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 25px;
}

#preview {
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
    position: relative;
}

.reviews {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews li {
    width: 45%;
    margin-bottom: 20px;
}

.reviews-buttons {
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}

.reviews-buttons button {
    background-color: rgb(255, 85, 85);
    border-radius: 30px;
    color: white;
    width: 40%;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
}

.reviews-buttons button:hover {
    background-color: rgb(255, 85, 85);
}

.spot-image {
    position: relative;
}

.spot-image > .material-symbols-outlined {
    position: absolute;
    top: 5px;
    right: 5px;
    color: transparent;
}

.spot-image > .material-symbols-outlined:hover {
    color: black;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    background-color: white;
}
