.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    margin: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

.navbar a {
    width: fit-content;
    font-size: 24px;
}



.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.right {
    display: flex;
    align-items: center;
}

.right > span {
    margin-right: 15px;
}

.right>span:hover {
    border-radius: 30px;
    cursor: pointer;
}

span .profile {

    border-radius: 30px;
    border: 1px solid rgba(50, 38, 38, 0.3);
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px;
}

.right button {
    margin-bottom: 0;
}

.profile:hover {
    box-shadow: 1px 1px 3px gray;
    cursor: pointer;
}



#profile-pic {
    background-color: gray;
    color: white;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    border-radius: 50%;
}

button {
    background-color: transparent;
    border: none;
}

.profile-dropdown {
    border-radius: 10px;
    z-index: 2;
    background-color: white;
    box-shadow: 1px 1px 3px black;
    position:absolute;
    padding: 20px;
    text-align: left;
    top: 50px;
    left: -80%;
}

.profile-dropdown li {
    padding: 10px;
}

#logo:hover {
    background-color: transparent;
}
